a {
  text-decoration: none;
}
.p {
  width: 30%;
  height: 55vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
}

.p-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 0px 5px;
  width: 100%;
}

.p-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p-img-wrapper {
  height: 40vh;
  margin-bottom: 10px;
  overflow: hidden;
}
.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p-img-wrapper:hover .p-img {
  transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 65vh;
  }
  .p-button {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .p-button-link {
    margin-bottom: 10px;
  }
}
